/* Shadow of img hover */
.homeLogo:hover {
    box-shadow: 0px 0px 60px var(--primary);
}

/* Stop the animation when cursor is on img */
.homeImgContainer:hover {
    overflow: visible;
}

.homeImgContainer:hover::before {
    height: 0px;
    width: 0px;

}

/* img to front */
.homeLogo {
    z-index: 1;
    border-radius: 10%;
    height: 21rem;
}

/* light over the img */
.homeImgContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10%;
    /* size of light */
    height: 21.5rem;
    width: 21.5rem;
    z-index: 0;
}

.homeImgContainer::before {
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 10%;

    background-image: conic-gradient(transparent 100deg, var(--primary) 360deg);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}