.projectsContainers {
    margin: 60px 0px;
    width: 90%;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    grid-auto-flow: dense;
    grid-auto-rows: 28rem;
    grid-template-columns: repeat(auto-fill, minmax(min(22rem, 100%), 1fr));

}